pkgbase = rhvoice-voice-alicja
	pkgdesc = Alicja - Polish female voice for RHVoice.
	pkgver = 4.1
	pkgrel = 1
	url = https://github.com/RHVoice/alicja-pol
	arch = any
	license = custom:CC-BY
	depends = rhvoice
	depends = rhvoice-language-polish
	source = https://github.com/RHVoice/alicja-pol/archive/refs/tags/v4.1.tar.gz
	source = license.txt
	sha256sums = 95e4d7e010463f82a9cc987471704dcc152b90476c92c782c4ef90eb968a6787
	sha256sums = 9e5f1b3c610b9c2da5c313bf81d577a7d1acec686bdb0384edefa6df0f90cd94

pkgname = rhvoice-voice-alicja
